* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #573824;
    --surface-color: #F0E8C2;
    --text-primary-color: #291B1A;
    --text-color-secondary: #573A37;
    color: var(--text-color-secondary);
}

body {
    background-image: url(assets/bg-image.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
}

#page {
    font-family: "Alice", serif;
    width: 800px;
    height: 1440px;
    padding: 24px;

    margin: 48px auto 28px;

    background-color: var(--surface-color);

    border-radius: 24px;
    box-sizing: border-box;
}

img {
    width: 752px;
    height: 400px;
}

h1, h2 {
    color: var(--text-primary-color);
    margin-bottom: 4px;
}

h1 {
    font-size: 40px;
    line-height: 140%;
}

h2 {
    font-size: 24px;
    line-height: 150%;
}

main {
    padding: 24px;
    margin-left: 48px;
    align-items: center;
}

#about p + p {          /* selecionando o p antes do p */
    margin-top: 12px;
}     

section + section {
    margin: 24px;
}

#preparationInstructions p + p {
    margin-top: 24px;
}

ul {
    padding-left: 24px;
}

footer {
    color: var(--text-primary-color);
    text-align: center;
    padding-bottom: 48px;
}
